<%- include("partials/header"); -%>

    <section>

        <h1>Blog Page</h1>
        <hr>

        <% posts.reverse().forEach((post)=> { %>

            <h1>
                <%= post.postTitle %>
            </h1>

            <p>
                <%= post.postContent.substring(0, 100) + " ..." %>
                    <a href="/blog/<%= post._id %>">Read More</a>
            </p>

            <hr class="dotted">

            <% }) %>

    </section>

    <%- include("partials/footer"); -%>